{{ define "main" }}

<div class="flex flex-col px-20">
  <div class="flex mb-10 font-bold text-3xl">
    <div class="flex flex-col">
      <h1><a class="font-bold text-3xl transition hover:bg-sky-200 hover:text-slate-800" href="{{ .Permalink }}">{{
          .Title
          }}</a></h1>
    </div>
  </div>
  <ul class="post-list">
    {{ range where .Site.RegularPages "Section" "blog"}}
    <li class="">
      <div class="block">
        <div class="flex my-2">
          <div class="flex transition hover:bg-sky-200 hover:text-slate-800">
            <a class="" href="{{ .Permalink }}">
              {{ .Title }}
            </a>
            <p class="ml-2"> - </p>
            <span class="text-xs text-center mt-1 ml-2"> {{ .Date.Format
              "Jan '06"}} </span>
          </div>
        </div>
      </div>
    </li>
    {{ end }}
    <div class="block text-xs mt-10">
      <p> tags:
        {{range .Site.Taxonomies.tags}}
        <a class="text-cyan-700/80 transition hover:bg-sky-200" href="{{.Page.Permalink}}">{{.Page.Title}}</a>
        {{end}}
      </p>
    </div>
  </ul>
</div>
{{ end }}
