{{ define "main" }}
{{ $lastmod := .Lastmod.Format "Jan 2, 2006" }}
<div class="">
  <div class="mb-10">
    <h1><a class="font-bold text-3xl transition hover:bg-sky-200 hover:text-slate-800" href="{{ .Permalink }}">{{ .Title
        }}</a></h1>
    <p class="my-2 text-xs"> {{ $lastmod }} </p>
  </div>
  <article class="prose prose-invert prose-neutral text-white max-w-none">
    {{ .Content }}
</div>
<div class="block text-xs mt-10">
  <p> tags:
    {{range .Site.Taxonomies.tags}}
    <a class="text-cyan-700/80 transition hover:bg-sky-200" href="{{.Page.Permalink}}">{{.Page.Title}}</a>
    {{end}}
  </p>
</div>
{{ end }}
