{{ define "main" }}
<div class="flex">
  <h1 class="font-bold mb-4">tag: {{ .Title }} </h1>
</div>
<ul class="post-list ml-5">
  {{ range .Paginator.Pages }}
  <li class="">
    <div class="block">
      <div class="flex ">
        <div class="flex transition hover:bg-sky-200 hover:text-slate-800">
          <span class="text-xs text-center mt-1"> {{ .Date.Format
            "Jan '06"}} </span>
          <a class="ml-5" href="{{ .Permalink }}">
            {{ .Title }}
          </a>
        </div>
      </div>
    </div>
  </li>
  {{ end }}
</ul>
{{ template "_internal/pagination.html" . }}

{{ end }}
