<div class="font-serif p-10">
  <div class="lg:sticky lg:top-10">
    <div class="flex flex-col items-start">
      <a href={{ "/" | absURL }} class=""> {{ .Site.Title }} </a>
    </div>
    <nav class="flex flex-row md:flex-col items-start relative overflow-scroll fade">
      <div class="flex flex-row md:flex-col space-x-0 pr-10 mb-2 mt-2 md:mt-0">
        {{ range .Site.Menus.main.ByWeight}}
        <a class="transition-all hover:text-neutral-800 dark:hover:text-neutral-200" href="{{ .URL | absURL }}"> {{
          .Name }} </a>
        {{ end }}
      </div>
      {{ range .Site.Menus.social.ByWeight}}
      <a href="{{ .URL }}" class="social-icon" title="{{ .Name }}">
        <span class="icon">
          <i class="{{ .Pre }}"></i>
        </span>
      </a>
      {{ end }}
    </nav>
  </div>
</div>
