{{ define "main" }}
<ul class="">
  {{ range where .Site.RegularPages "Section" "blog"}}
  <a class="flex flex-col space-y-1 mb-4 " href="{{ .Permalink }}">
    <div class="flex flex-col w-full transition hover:bg-sky-200 hover:text-slate-800">
      {{ .Title }}
    </div>
    <span class="font-mono text-xs text-neutral-500 tracking-tighter"> {{ .Date.Format
      "Jan '06"}} </span>
  </a>
  {{ end }}
  <div class="text-xs mt-10">
    <p> tags:
      {{range .Site.Taxonomies.tags}}
      <a class="text-cyan-700/80 transition hover:bg-sky-200" href="{{.Page.Permalink}}">{{.Page.Title}}</a>
      {{end}}
    </p>
  </div>
</ul>
{{ end }}
