{{ define "main" }}
<ul class="post-list ml-5">
  {{ range where .Site.RegularPages "Section" "blog"}}
  <li class="">
    <div class="block">
      <div class="flex ">
        <div class="flex transition hover:bg-sky-200 hover:text-slate-800">
          <span class="text-xs text-center mt-1"> {{ .Date.Format
            "Jan '06"}} </span>
          <a class="ml-5" href="{{ .Permalink }}">
            {{ .Title }}
          </a>
        </div>
      </div>
    </div>
  </li>
  {{ end }}
  <div class="block text-xs mt-10">
    <p> tags:
      {{range .Site.Taxonomies.tags}}
      <a class="text-cyan-700/80 transition hover:bg-sky-200" href="{{.Page.Permalink}}">{{.Page.Title}}</a>
      {{end}}
    </p>
  </div>
</ul>
{{ end }}
