{{ define "main" }}
<ul class="post-list">
  {{ range where .Site.RegularPages "Section" "blog"}}
  <li class="post-listing">
    <article class="article">
      <p>
        <a class="article-title" href="{{ .Permalink }}">
          <span class="article-date label"> {{ .Date.Format "Jan '06"}} </span>
          {{ .Title }}
        </a>
        </a>
    </article>
  </li>
  {{ end }}
  <div class="text-xs">
    <p> tags:
      {{range .Site.Taxonomies.tags}}
      <a class="text-sky-400/25" href="{{.Page.Permalink}}">{{.Page.Title}}</a>
      {{end}}
    </p>
  </div>
</ul>
{{ end }}
